<!DOCTYPE html>

<html>
<head>

    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/smoothscroll.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.parallax.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/coundown-timer.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.scrollTo.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.nav.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/main.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/jquery.unobtrusive-ajax.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/bootstrap-datepicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/scripts/jquery.validate.unobtrusive.min.js")"></script>

    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/font-awesome.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/main.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/animate.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/responsive.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/datepicker.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/pushy-buttons.css")" rel="stylesheet">

    <link rel="shortcut icon" href="@Url.Content("~/Content/images/ico/favicon.ico")">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="@Url.Content("~/Content/images/ico/apple-touch-icon-144-precomposed.png")" )">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@Url.Content("~/Content/images/ico/apple-touch-icon-114-precomposed.png")" )">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@Url.Content("~/Content/images/ico/apple-touch-icon-72-precomposed.png")" )">
    <link rel="apple-touch-icon-precomposed" href="@Url.Content("~/Content/images/ico/apple-touch-icon-57-precomposed.png")" )">

    <title>CMS - Cognizance Scientific</title>
</head>
<body>
    <header id="header" role="banner">
        <div class="main-nav">
            <div class="container">
                <div class="header-top">
                    <div class="pull-right social-icons">
                        <a href="@Url.Content("~/Account/Logout")" style="color:red">Log Out</a>
                    </div>
                </div>
                <div class="row">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @{ Html.RenderAction("Logo", "Shared"); }
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="scroll"><a class="no-scroll" href="@Url.Content("~/CMS/AllVenues/")">Venues</a></li>
                            <li class="scroll"><a class="no-scroll" href="@Url.Content("~/CMS/AllConferences/")">Conferences</a></li>
                            <li class="scroll"><a class="no-scroll" href="@Url.Content("~/CMS/AllTracks/")">Tracks</a></li>
                            <li class="scroll"><a class="no-scroll" href="@Url.Content("~/CMS/AllImages/")">Images</a></li>
                            <li class="scroll"><a class="no-scroll" href="@Url.Content("~/CMS/AllTeamMembers/")">Team Members</a></li>
                            <li class="scroll"><a class="no-scroll" href="@Url.Content("~/CMS/AllPrograms/")">Programs</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="NotHome">
        @RenderBody()
    </div>
</body>
</html>
