@model IEnumerable<EventManagement.DataModels.ConferenceDTO>

<div class="container">
    <div class="row">
        @*<div class="col-md-1"></div>*@
        <div class="col-12">
            <div id="event-carousel" class="carousel slide" data-interval="false">
                <h2 class="header white">Our Conferences</h2>
                <div class="carousel-inner">
                    @for (int i = 0; i <= Model.Count() / 4; i++)
                    {
                        <div class="item @if (i == 0) { <text>active</text>} ">
                            <div class="row">
                                @{ var obj = Model.Skip(i * 4).Take(4);}
                                @foreach (var conf in obj)
                                {
                                    <div class="col-sm-3">
                                        <div class="single-event pointer" onclick="redirectConference('@conf.DisplayId')">
                                            <img class="img-responsive img" src="@Url.Content("~/Content/images/event/confShortImage/" + @conf.ShortImgUrl )" alt="event-image">
                                            <h4>@conf.Name</h4>
                                            <h5>@conf.ShortDesc</h5>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                                    }
                </div>
            </div>
        </div>
        @*<div class="col-md-1"></div>*@
        <!-- Left and right controls -->
        <a class="col-2 left carousel-control" href="#event-carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="col-2 right carousel-control" href="#event-carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<script>
    function redirectConference(id) {
        var url = '@Url.Action("Home", "Conference",new { key = "ID"})'.replace("ID", id);
        window.open(url);
    }
</script>