@model IEnumerable<EventManagement.DataModels.ConferenceDTO>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div id="event-carousel" class="carousel slide" data-interval="false">
                <h2 class="heading">Our Conferences</h2>
                <a class="even-control-left" href="#event-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                <a class="even-control-right" href="#event-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
                <div class="carousel-inner">
                    @for (int i = 0; i <= Model.Count() / 4; i++)
                    {
                        <div class="item @if (i == 0) { <text>active</text>} ">
                            <div class="row">
                                @{ var obj = Model.Skip(i * 4).Take(4);}
                                @foreach (var well in obj)
                                {
                                    <div class="col-sm-3">
                                        <div class="single-event" onclick="redirectConference(@well.Id)">
                                            <img class="img-responsive" src="@Url.Content("~/Content/images/event/event1.jpg")" alt="event-image">
                                            <h4>@well.Name</h4>
                                            <h5>@well.Desc</h5>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function redirectConference(id) {
        $(".single-event").click(function (event) {
            event.preventDefault();
            var url = '@Url.Action("Home", "Conference",new { id = "ID"})'.replace("ID", parseInt(id));
            window.open(url, '_blank');
        });
    }
</script>