
@model EventManagement.DataModels.ConferenceDTO

<div>
    <div id="main-slider" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            @for (int i = 0; i < Model.ImageUrls.Count(); i++)
            {
                <li data-target="#main-slider" data-slide-to="@i" class="@if (i == 0) { <text>active</text>}"></li>
            }
        </ol>
        <div class="carousel-inner">
            @for (int i = 0; i < Model.ImageUrls.Count(); i++)
            {
                <div class="item @if (i == 0) { <text>active</text>}">
                    <img class="img-responsive" src="@Url.Content("~/Content/images/" + Model.ImageUrls[i])" alt="slider">
                </div>
            }
        </div>
    </div>
    <div>
        <div class="carousel-caption Intro">
            <text>@Model.Name</text>
        </div>
        <div class="col-12 carousel-caption">
            <div class="col-md-4">
                <button class="push-btn" onclick="redirect('@Url.Content("~/Conference/"+Model.Id+ "/Program/")')"><text>PROGRAM</text></button>
            </div>
            <div class="col-md-4">
                <button class="push-btn" onclick="redirect('@Url.Content("~/Conference/"+Model.Id+ "/Registration/")')"><text>REGISTER</text></button>
            </div>
            <div class="col-md-4">
                <button class="push-btn" onclick="redirect('@Url.Content("~/Conference/"+Model.Id+ "/AbstractSubmit/")')"><text>SUBMIT ABSTRACT</text></button>
            </div>
        </div>
    </div>
</div>
