@model EventManagement.DataModels.PurchaseDTO

@{
    ViewBag.Title = "registration";
    Layout = "~/Views/Shared/Layouts/_ConferenceLayout.cshtml";
}
<div class="NotHome NoBg">
    <h2 class="header">Registration</h2>
    <div id="over" style="">
        <img class="img-responsive" src="@Url.Content("~/Content/images/Registration_FlowChart.png")" alt="slider" />
    </div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "RegistrationForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal" id="registration">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ConferenceId, new { Value = @ViewData["ConferenceId"] })
            @Html.HiddenFor(model => model.Amount, new { Value = @ViewData["ConferenceId"] })
            @Html.HiddenFor(model => model.RegTypeId, new { Value = @ViewData["ConferenceId"] })
            @Html.HiddenFor(model => model.RegClassId, new { Value = @ViewData["ConferenceId"] })
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-10">
                            @Html.EditorFor(model => model.Organization, new { htmlAttributes = new { @class = "form-control", @placeholder = "Organization/ Institute" } })
                            @Html.ValidationMessageFor(model => model.Organization, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-10">
                            @Html.TextAreaFor(model => model.Address, new { @class = "form-control txtArea", @placeholder = "Billing Address" })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-10">
                            @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                            @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-6">
                            @Html.DropDownListFor(model => model.CountryId, new SelectList(@ViewBag.Countries, "Id", "Name"), "Select Country", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-10">
                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Phone Number" } })
                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive" id="regTab">

                @*<div class="row">
                        <h2>Register For</h2>
                    </div>*@
                <table class="table">
                    <colgroup>
                        <col />
                        <col />
                        <col />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>
                                REGISTER FOR
                            </th>
                            @{
                                foreach (var pricetype in @ViewBag.RegClasslst)
                                {
                                    string[] stringSeparators = new string[] { "[split]" };
                                    var splits = pricetype.Name.Split(stringSeparators, StringSplitOptions.None);
                                    <th>
                                        @{
                                            for (var i = 0; i < @splits.Length; i++)
                                            {
                                                @splits[i]
                                                <br />
                                            }
                                        }
                                    </th>
                                            }
                            }
                    </thead>
                    <tbody>
                        @{
                            foreach (var regtype in Model.Reg)
                            {
                                <tr>
                                    <td>
                                        @regtype.Name
                                    </td>
                                    @{
                                        foreach (var pricetype in regtype.PricingTypes)
                                        {
                                            var htmlAttr = new Dictionary<string, object>();
                                            htmlAttr.Add("class", "priceType");
                                            htmlAttr.Add("data-val", pricetype.Price);
                                            htmlAttr.Add("data-regType", regtype.Id);
                                            htmlAttr.Add("data-regClass", pricetype.RegClassId);
                                            htmlAttr.Add("onClick", "calculateTotal()");
                                            if (!pricetype.IsActive)
                                            {
                                                htmlAttr.Add("disabled", "disabled");
                                            }
                                            <td>
                                                @Html.RadioButton("regprice", false, htmlAttr) $@pricetype.Price
                                            </td>
                                        }
                                    }
                                </tr>
                                        }
                        }
                    </tbody>
                </table>

                <div class="row">
                    <div class="col-12 sub">
                        @Html.CheckBox("accompany", new { data_val = 200, @class = "", @onClick = "calculateTotal()" })
                        <label>Accompany A Person to Conference ($200) ?</label>
                    </div>
                </div>

                @*<div class="row">
                        <h2>Accomodation Prices</h2>
                    </div>*@
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                ACCOMODATION PRICES
                            </th>
                            <th colspan="1">
                                Single Occupancy
                            </th>
                            <th colspan="1">
                                Double Occupancy
                            </th>
                            <th colspan="1">
                                Triple Occupancy
                            </th>
                    </thead>
                    <tbody>
                        @{
                            foreach (var acctype in Model.acc)
                            {
                                <tr>
                                    <td>
                                        @acctype.Name
                                    </td>
                                    @{
                                        foreach (var occtype in acctype.occ)
                                        {
                                            var htmlAttr = new Dictionary<string, object>();
                                            htmlAttr.Add("class", "accpricec");
                                            htmlAttr.Add("data-val", occtype.Price);
                                            htmlAttr.Add("onClick", "calculateTotal()");
                                            if (!occtype.IsActive)
                                            {
                                                htmlAttr.Add("disabled", "disabled");
                                            }
                                            <td>
                                                @Html.RadioButton("accprice", false, htmlAttr) $@occtype.Price
                                            </td>
                                        }
                                    }
                                </tr>
                                        }
                        }
                    </tbody>
                </table>

                <div class="col-12 txtctr" style="padding:20px">
                    <div class="border col-md-offset-4 col-md-4">
                        <label>TOTAL PRICE : </label>
                        <label name="price" id="lblTotalPrice"></label>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-10">
                            @Html.CheckBoxFor(model => model.TermsAndConditions, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.LabelFor(model => model.TermsAndConditions, new { @class = "pointer txthighlight", @onclick = "loadPartial()" })
                        </div>
                        <div class="col-md-offset-1 col-md-10">
                            @Html.ValidationMessageFor(model => model.TermsAndConditions, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-5 col-md-7">
                    <input type="button" value="Register" class="push-btn" onclick="postRegistration()" />
                </div>
            </div>
        </div>
        <div class="sub regpolicy">
            <div class="sub">
                <p class="q">Registration Includes</p>
                <div class="sub">
                    <p><i class="fa fa-circle" aria-hidden="true"></i>Access to main conference sessions, exhibits, poster sessions and round table discussions.</p>
                    <p><i class="fa fa-circle" aria-hidden="true"></i>Conference ID cards &  Proceedings (Hard Copy) provided at venue.</p>
                    <p><i class="fa fa-circle" aria-hidden="true"></i>Lunch, refreshments and two coffee breaks during the conference.</p>
                    <p><i class="fa fa-circle" aria-hidden="true"></i>A free paper abstract(For Speakers).</p>
                    <p><i class="fa fa-circle" aria-hidden="true"></i>Certificate of Presentation.</p>
                    <p><i class="fa fa-circle" aria-hidden="true"></i>Access to cocktail party for  one to one discussion .</p>
                    <p><i class="fa fa-circle" aria-hidden="true"></i>WiFi in meeting rooms.</p>
                </div>
            </div>
            <div class="sub">
                <p class="q">Accommodation Includes</p>
                <div class="sub">
                    <p><i class="fa fa-circle" aria-hidden="true"></i>Breakfast during your stay.</p>
                    <p><i class="fa fa-circle" aria-hidden="true"></i>Car parking will be provided.</p>
                    <p><i class="fa fa-circle" aria-hidden="true"></i>Free access to Swimming pool .</p>
                </div>
            </div>
        </div>
                                        }
    <div id='myModal' class='modal'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div id='myModalContent'></div>
            </div>
        </div>
    </div>

    @*<form action="https://www.paypal.com/cgi-bin/webscr" method="post">

            <!-- Identify your business so that you can collect the payments. -->
            <input type="hidden" name="business" value="contact-facilitator@scientificcognizance.com">

            <!-- Specify a Buy Now button. -->
            <input type="hidden" name="cmd" value="_xclick">

            <!-- Specify details about the item that buyers will purchase. -->
            <input type="hidden" name="item_name" value="Hot Sauce-12oz. Bottle">
            <input type="hidden" name="amount" value="5.95">
            <input type="hidden" name="currency_code" value="USD">

            <!-- Display the payment button. -->
            <input type="image" name="submit" border="0"
                   src="https://www.paypalobjects.com/webstatic/en_US/i/btn/png/btn_buynow_107x26.png"
                   alt="Buy Now">
            <img alt="" border="0" width="1" height="1"
                 src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif">

        </form>*@

    <div id="RegFormHolder"></div>
</div>
<script type="text/JavaScript">

    function postRegistration() {
        if(parseInt($("#Amount").val()) == 0){
            toastr.error("Please select what you want to register for");
            return;
        }
        if($('#RegistrationForm').valid()){
            spinner(true);
            var data = new FormData();

            data.append("conferenceId", @ViewData["ConferenceId"]);
            data.append("name", $("#Name").val());
            data.append("Organization", $("#Organization").val());
            data.append("Address", $("#Address").val());
            data.append("EmailId", $("#EmailId").val());
            data.append("CountryId", $("#CountryId").val());
            data.append("PhoneNumber", $("#PhoneNumber").val());
            data.append("Amount", $("#Amount").val());
            data.append("RegTypeId", $("#RegTypeId").val());
            data.append("RegClassId", $("#RegClassId").val());

            var url = "@Url.Content("~/Conference/Register")";

            $.ajax({
                type: 'POST',
                contentType: false,
                processData: false,
                url: url,
                data: data,
                success: function (response) {
                    spinner(false);
                    var options = { "backdrop": "static", keyboard: true };
                    $('#myModalContent').html(response);
                    $('#myModal').modal(options);
                    $('#myModal').modal('show');
                    //$('#RegFormHolder').html(response);
                    //document.hiddenRegform.submit();
                    //window.location.href = response.Url;
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    toastr.info('Something went wrong!!')
                },
            });
        }
    }

    function loadPartial() {
        spinner(true);
        var options = { "backdrop": "static", keyboard: true };
        var url = "@Url.Content("~/Conference/ModalRegistrationPolicy/")";
        $.ajax({
            type: "GET",
            url: url,
            contentType: "application/json; charset=utf-8",
            //datatype: "json",
            success: function (data) {
                spinner(false);
                $('#myModalContent').html(data);
                $('#myModal').modal(options);
                $('#myModal').modal('show');

            },
            error: function () {
                $('#myModalContent').html("Error fetching Registration Policy");
            }
        });
    }

    $(document).ready(function () {
        processNoScroll();
        calculateTotal();
     
    });

    function calculateTotal() {
        var regprice = 0;
        var accompanyprice = 0;
        var accomodationPrice = 0;

        $.each($('.priceType'), function () {
            if ($(this).prop('checked')){
                regprice = parseInt($(this).attr('data-val'));
                $('#RegTypeId').val($(this).attr('data-regType'))
                $('#RegClassId').val($(this).attr('data-regClass'))
            }
        });

        if ($('#accompany').prop("checked"))
            accompanyprice = parseInt($('#accompany').attr("data-val"));

        $.each($('.accpricec'), function () {
            if ($(this).prop('checked'))
                accomodationPrice = parseInt($(this).attr('data-val'));
        });

        var res = regprice + accompanyprice + accomodationPrice;
        var total = { amt: parseInt(res), txt: "$ " + res };
        $('#lblTotalPrice').text(total.txt);
        $('#lblTotalPrice').prop('data-val', total.amt);
        $('#Amount').val(total.amt);
    }
    
    $.validator.unobtrusive.adapters.add("checkboxtrue", function (options) {
        if (options.element.tagName.toUpperCase() == "INPUT" && options.element.type.toUpperCase() == "CHECKBOX") {
            options.rules["required"] = true;
            if (options.message) {
                options.messages["required"] = options.message;
            }
        }
    });

    $.validator.unobtrusive.adapters.add('filesize', ['maxsize'], function (options) {
        options.rules['filesize'] = options.params;
        if (options.message) {
            options.messages['filesize'] = options.message;
        }
    });

</script>
