@model IEnumerable<EventManagement.DataModels.TrackDTO>
@{
    ViewBag.Title = "Track";
    Layout = "~/Views/Shared/Layouts/_ConferenceLayout.cshtml";
}
<div class="NotHome">
    <div class="col-12">
        <div style="padding:0px 20px 20px 120px">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="heading">Our Scientific Sessions</h2>
                    <label class="heading" style="color:red;font-size:14px">
                        @*<i class="fa fa-asterisk" aria-hidden="true"></i>*@
                        Please Click On Session To Submit Abstract
                    </label>
                </div>
                <div class="col-md-4 sampleAbstract">
                    <button class="push-btn btn--sm push-btn--blue flRt" onclick="dwnldSampleAbstract()"><text><i class="fa fa-download" aria-hidden="true"></i>  Sample Abstract</text></button>
                    @*<div class="col-md-12">
                        <i class="fa fa-file-word-o" aria-hidden="true" style="font-size:30px"></i>
                    </div>
                    <text class="col-md-12" style="font-weight: normal;">Sample Abstract</text>*@
                </div>
            </div>
            <br />
            <div id="sessions">
                @for (int i = 0; i <= Model.Count() / 3; i++)
            {
                    <div class="col-md-12">
                        @{ var obj = Model.Skip(i * 3).Take(3);}
                        @foreach (var mem in obj)
                {
                            <div class="col-md-4">
                                <li class="track" onclick="loadPartial('@ViewData["Conferencekey"]',@mem.Id)">@mem.Name</li>
                            </div>
                        }
                    </div>
                            }
            </div>
        </div>

        <div id='myModal' class='modal'>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div id='myModalContent'></div>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    function loadPartial(confkey, trackId) {
        spinner(true);
        var options = { "backdrop": "static", keyboard: true };
        var url = "@Url.Content("~/Conference/")";
        $.ajax({
            type: "GET",
            url: url + confkey + "/PartialAbstractSubmit/" + trackId,
            contentType: "application/json; charset=utf-8",
            //datatype: "json",
            success: function (data) {
                spinner(false);
                $('#myModalContent').html(data);
                $('#myModal').modal(options);
                $('#myModal').modal('show');

            },
            error: function () {
                $('#myModalContent').html("Error fetching Abstract");
            }
        });
    }

    $('.modal').click(function (e) {
        e.stopPropagation();
    });

    $(document).ready(function () {
        processNoScroll();
    });

    function dwnldSampleAbstract() {
        window.location = '@Url.Content("~/Conference/DownloadSampleAbstract/")';
        @*$.ajax(
            {
                url: '@Url.Content("~/Conference/DownloadSampleAbstract/")',
                contentType: 'application/json; charset=utf-8',
                datatype: 'json',
                type: "GET",
                success: function (res) {
                    debugger;
                }
            });*@
    }
</script>
