<!DOCTYPE html>

<html>
<head>

    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/bootstrap.min.js")"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyAjQWaXbx2e7aCm4nVaJEFnrGTp4MQAaDU"></script>
    @*<script type="text/javascript" src="@Url.Content("~/Content/js/gmaps.js")"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Content/js/smoothscroll.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.parallax.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/coundown-timer.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.scrollTo.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery.nav.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/main.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/viewportchecker.js")"></script>

    <link href="@Url.Content("~/Content/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/font-awesome.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/main.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/animate.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/responsive.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/css/pushy-buttons.css")" rel="stylesheet">

    <link rel="shortcut icon" href="@Url.Content("~/Content/images/ico/favicon.ico")">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="@Url.Content("~/Content/images/ico/apple-touch-icon-144-precomposed.png")" )">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@Url.Content("~/Content/images/ico/apple-touch-icon-114-precomposed.png")" )">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@Url.Content("~/Content/images/ico/apple-touch-icon-72-precomposed.png")" )">
    <link rel="apple-touch-icon-precomposed" href="@Url.Content("~/Content/images/ico/apple-touch-icon-57-precomposed.png")" )">

    <title>Scientific Cognizance </title>

</head>
<body>
    <header id="header" role="banner">
        <div class="main-nav">
            <div class="container">
                <div class="header-top">
                    <div class="pull-right social-icons">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @{ Html.RenderAction("Logo", "Shared"); }

                        </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="active"><a class="scroll homeicon" data-scroll="#home" data-noscroll="@Url.Content("~")" href="#home"><i style="" class="fa fa-home" aria-hidden="true"></i></a></li>
                            <li><a class="scroll" data-scroll="#about" data-noscroll="@Url.Content("~/#about")" href="#about">About Us</a></li>
                            <li><a class="scroll dropbtn" data-scroll="#conferences" data-noscroll="@Url.Content("~/#conferences")"  href="#conferences">Conferences</a></li>
                            <li><a class="scroll" data-scroll="#SA" data-noscroll="@Url.Content("~/#SA")"  href="#SA">Scientific Advisors</a></li>
                            <li><a class="no-scroll" data-scroll="@Url.Content("~/Home/RegistrationPolicy/")" data-noscroll="@Url.Content("~/Home/RegistrationPolicy/")"  href="@Url.Content("~/Home/RegistrationPolicy/")">Registration Policies</a></li>
                            <li><a class="no-scroll" data-scroll="@Url.Content("~/Conference/SponsorExhibitor/")" data-noscroll="@Url.Content("~/Conference/SponsorExhibitor/")"  href="@Url.Content("~/Conference/SponsorExhibitor/")">SPONSORS/EXHIBITORS</a></li>
                            <li><a  class="scroll" data-scroll="#contact" data-noscroll="@Url.Content("~/#contact")"  href="#contact">Contact</a></li>
                            @*<li class="no-scroll"><a href="#twitter">Twitter</a></li>*@
                            @*<li class="no-scroll">@Html.ActionLink("Purchase Tickets", "Index", "Purchase")</li>*@
                            @*<li class="scroll"><a href="#">GSC Policies</a></li>*@
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--/#header-->
    <div id="home" style="position:relative">
        @RenderBody()
    </div>
    <footer id="footer">
        <div class="container">
            <div class="text-center">
                <p style="text-transform:uppercase"><span>©</span> Copyright 2017. <span class="defaultcolor">scientificcognizance.com </span>All Right Reserved.</p>
            </div>
        </div>
    </footer>
    <!--/#footer-->

</body>
</html>
