@model string

<div id="main-slider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#main-slider" data-slide-to="0" class="active"></li>
        <li data-target="#main-slider" data-slide-to="1"></li>
        <li data-target="#main-slider" data-slide-to="2"></li>
        <li data-target="#main-slider" data-slide-to="3"></li>
        <li data-target="#main-slider" data-slide-to="4"></li>
        <li data-target="#main-slider" data-slide-to="5"></li>
        <li data-target="#main-slider" data-slide-to="6"></li>
        <li data-target="#main-slider" data-slide-to="7"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img class="img-responsive" src="@Url.Content("~/Content/images/slider/bg4.jpg")" )" alt="slider">
            <div class="carousel-caption">
                <h2><i class="fa fa-angle-double-right" aria-hidden="true"></i> Networking and Exploring new skills</h2>
            </div>
        </div>
        <div class="item">
            <img class="img-responsive" src="@Url.Content("~/Content/images/slider/bg5.jpg")" alt="slider">
            <div class="carousel-caption">
                <h2><i class="fa fa-angle-double-right" aria-hidden="true"></i> Worldwide Industry expertise at one platform </h2>
            </div>
        </div>
        <div class="item">
            <img class="img-responsive" src="@Url.Content("~/Content/images/slider/bg6.jpg")" alt="slider">
            <div class="carousel-caption">
                <h2><i class="fa fa-angle-double-right" aria-hidden="true"></i> Promoting World Class research </h2>
            </div>
        </div>
        <div class="item">
            <img class="img-responsive" src="@Url.Content("~/Content/images/slider/bg8.jpg")" alt="slider">
            <div class="carousel-caption">
                <h2><i class="fa fa-angle-double-right" aria-hidden="true"></i> Strengthening innovative strategies</h2>
            </div>
        </div>
        <div class="item">
            <img class="img-responsive" src="@Url.Content("~/Content/images/slider/bg10.jpg")" )" alt="slider">
            <div class="carousel-caption">
                <h2><i class="fa fa-angle-double-right" aria-hidden="true"></i> Global academic excellence for future progression </h2>
            </div>
        </div>
        <div class="item">
            <img class="img-responsive" src="@Url.Content("~/Content/images/slider/bg11.jpg")" alt="slider">
            <div class="carousel-caption">
                <h2></h2>
            </div>
        </div>
        <div class="item">
            <img class="img-responsive" src="@Url.Content("~/Content/images/slider/bg12.jpg")" alt="slider">
            <div class="carousel-caption">
                <h2></h2>
            </div>
        </div>
        <div class="item">
            <img class="img-responsive" src="@Url.Content("~/Content/images/slider/bg13.jpg")" alt="slider">
            <div class="carousel-caption">
                <h2></h2>
            </div>
        </div>
    </div>
</div>
@*<div>
    <div class="carousel-caption">
        <h2>register for our next event </h2>
        <a href="@Url.Content("~/Conference/"+@Model+ "/Registration/")" target="_blank">Click Here <i class="fa fa-angle-right"></i></a>
    </div>
</div>*@
