@model IEnumerable<EventManagement.DataModels.VenueDTO>

@{
    ViewBag.Title = "AllVenues";
    Layout = "~/Views/Shared/Layouts/_CMSLayout.cshtml";
}

<h2>AllVenues</h2>

<p>
    @Html.ActionLink("Create Venue", "NewVenue")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Map.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Map.Longitude)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Map.Latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Map.Longitude)
        </td>

        <td>
            @Html.ActionLink("Edit", "Venue", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteVenue", new { id=item.Id })
        </td>
    </tr>
}

</table>
