@model EventManagement.DataModels.ConferenceDTO
@{
    ViewBag.Title = "ConferenceImages";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
@using (Html.BeginForm("AddConferenceImages", "CMS", FormMethod.Post, new { encType = "multipart/form-data" }))
{
    <div class="form-horizontal" style="padding:20px">
        <div class="form-group">
            @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Id, new SelectList(@ViewBag.Conferences, "Id", "Name"), new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.TextBoxFor(model => model.ImagesUpload, new { @type = "file", @multiple = "multiple" })
            @*@Html.ValidationMessageFor(model => model.ImagesUpload, "", new { @class = "text-danger" })*@
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload" class="btn btn-default" />
            </div>
        </div>
    </div>
        <div id="AllConfImages">
            @{ 
                if (ViewBag.Conferences.Count > 0)
                {
                    Html.RenderAction("AllConferenceImages", "CMS", new { id = @ViewBag.Conferences[0].Id });
                }
            }
            @*@Html.Partial("_AllTracks", Model.ConferenceId)*@
        </div>
                }
